<%- include("partials/header.ejs"); %>
<link rel="stylesheet" href="/css/quesstyle.css">

	<div class="quest">
	<form id="quiz" action="/question5" method="post">
    <p>2 + 6 = </p>
    <input type="text" name="ans5" class="ans5" value="">
    <br>
    <br>
    <input type="hidden" id="pop1" class="input3" name="" value=<%= population %>>
    <input type="hidden" id="pop2" class="input4" name="infectedPopulation">
    <button class="btn btn-warning btn-lg" id="button1" type="submit" onclick="changePopulation()" name="button" value="1">Submit</button>
  </form>
  </div>

  <table class="table table-borderless">
    <tr class="header">
      <td style="color: white;">TIME LEFT (in minutes) </td>
    <tr>
      <td id="timer" style="color: white;"></td>
    </tr>
    <input type="hidden" id="timeLeft" name="" value=<%= timeLeft5 %>>
  </table>

  <form class="timerForm" action="/question5" method="post">
    <input type="hidden" id="timeLeftData" name="timeLeftData" value="">
    <button type="submit" id="button2" name="button" value="2" style="visibility: hidden;"></button>
  </form>

   <script type="text/javascript">
     function changePopulation(){
       var ans5 = document.querySelector(".ans5")
       var pop1 = document.getElementById("pop1").value;

       if (ans5.value === "8") {
         var x = pop1 / 2;
         document.getElementById("pop2").value = x;
         console.log("population: " + document.getElementById("pop2").value);
       }
       else {
         var y = pop1 * 2;
         document.getElementById("pop2").value = y;
         console.log("population: " + document.getElementById("pop2").value);
       }

     }

   </script>

	 <script>
 	  // if (sessionStorage.getItem("total_seconds1")) {
 	  //   var total_seconds = sessionStorage.getItem("total_seconds1");
 	  // } else {
 	  //   var total_seconds = 60 * 0.5;
 	  // }

 	  if (sessionStorage.getItem("total_seconds5")) {
 	    var total_seconds = sessionStorage.getItem("total_seconds5");
 	  } else {
 	    var total_seconds = document.querySelector("#timeLeft").value;
 	  }

 	  var minutes = parseInt(total_seconds / 60);
 	  var seconds = parseInt(total_seconds % 60);

 	  function countDownTimer() {
 	    if (seconds < 10) {
 	      seconds = "0" + seconds;
 	    }
 	    if (minutes < 10) {
 	      minutes = "0" + minutes;
 	    }

 	    document.getElementById("timer").innerHTML = minutes + " : " + seconds;
 	    if (total_seconds > 0) {
 	      total_seconds = total_seconds - 1;
 	      minutes = parseInt(total_seconds / 60);
 	      seconds = parseInt(total_seconds % 60);
 	      sessionStorage.setItem("total_seconds5", total_seconds);
 	      setInterval(function() {
 	        document.querySelector("#timeLeftData").value = total_seconds;
 	        document.getElementById("button2").click();
 	      }, 10000);
 	      setTimeout("countDownTimer()", 1000);
 	    } else {
 	      changePopulation();
 	      document.getElementById("button1").click();
 	    }
 	  }
 	  setTimeout("countDownTimer()", 1000);
 	</script>
