<%- include("partials/header.ejs"); %>

  <style>
  	.td{
	text-align: center;
	  vertical-align: middle;
	  width: 100%


}
.table{
	width: 25%;
}

#timer{
	font-size:30px;
}

.header{
	text-align: center;
	font-family: 'serif';
	font-size: 20px;
	font-weight: 200;
}

  </style>

	<div class="col-md-8" style= "float:right;">
	<form id="quiz" action="/question4" method="post">
    <p>2 + 5 = </p>
    <input type="text" name="ans4" class="ans4" value="">
    <br>
    <br>
    <input type="hidden" id="pop1" class="input3" name="" value=<%= population %>>
    <input type="hidden" id="pop2" class="input4" name="infectedPopulation">
    <button class="btn btn-primary btn-lg" type="submit" onclick="changePopulation()" name="button">Submit</button>
  </form>
  </div>

  <table class="table table-dark table-borderless col-md-3">
  <tr class="header"><td>TIME LEFT (in minutes) </td>
  	<tr>
  		<td id="timer"></td></tr>

   </table>
   <script type="text/javascript">
     function changePopulation(){
       var ans4 = document.querySelector(".ans4")
       var pop1 = document.getElementById("pop1").value;

       if (ans4.value === "7") {
         var x = pop1 / 2;
         document.getElementById("pop2").value = x;
         console.log("population: " + document.getElementById("pop2").value);
       }
       else {
         var y = pop1 * 2;
         document.getElementById("pop2").value = y;
         console.log("population: " + document.getElementById("pop2").value);
       }

     }

   </script>
  <script>

  document.getElementById('timer').innerHTML =
  005 + ":" + 00;
  startTimer();

function startTimer() {
  var presentTime = document.getElementById('timer').innerHTML;
  var timeArray = presentTime.split(/[:]+/);
  var m = timeArray[0];
  var s = checkSecond((timeArray[1] - 1));
  if(s==59){m=m-1}
  if(m<0){alert('timer completed')
return;}

  document.getElementById('timer').innerHTML =
    m + ":" + s;
  // console.log(m)
  setTimeout(startTimer, 1000);
}

function checkSecond(sec)
{
  if (sec < 10 && sec >= 0) {sec = "0" + sec}; // add zero in front of numbers < 10
  if (sec < 0) {sec = "59"};
  return sec;
}

  </script>
  <script>
    if (sessionStorage.getItem("total_seconds4")) {
      var total_seconds = sessionStorage.getItem("total_seconds4");
    } else {
      var total_seconds = 60 * 0.5;
    }
    var minutes = parseInt(total_seconds / 60);
    var seconds = parseInt(total_seconds % 60);

    function countDownTimer() {
      if (seconds < 10) {
        seconds = "0" + seconds;
      }
      if (minutes < 10) {
        minutes = "0" + minutes;
      }

      document.getElementById("timer").innerHTML = minutes + " : " + seconds;
      if (total_seconds <= 0) {
        changePopulation();
        document.querySelector("#quiz").submit();

      } else {
        total_seconds = total_seconds - 1;
        minutes = parseInt(total_seconds / 60);
        seconds = parseInt(total_seconds % 60);
        sessionStorage.setItem("total_seconds4", total_seconds)
        setTimeout("countDownTimer()", 1000);
      }
    }
    setTimeout("countDownTimer()", 1000);
  </script>
