<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign Up</title>
  </head>
  <body>
    <form class="" action="/signup" method="post">
      <input type="text" name="username" value="">
      <input type="password" name="password" value="">

      <label for="">Question1</label>
      <input type="text" name="ques1" value="bcwshegjkd">

      <label for="">Question2</label>
      <input type="text" name="ques2" value="hgbcjhsd">

      <label for="">Question3</label>
      <input type="text" name="ques3" value="bsdhdbcjs">

      <label for="">Question4</label>
      <input type="text" name="ques4" value="hsbjchjgcg">

      <label for="">Question5</label>
      <input type="text" name="ques5" value="bsjcbjhs">

      <label for="">containment1</label>
      <input type="text" name="con1" value="hbsvjhsb">

      <label for="">containment2</label>
      <input type="text" name="con2" value="uashiuaj">

      <label for="">containment3</label>
      <input type="text" name="con3" value="kjehfish">

      <label for="">containment4</label>
      <input type="text" name="con4" value="shuegfwh">

      <label for="">containment5</label>
      <input type="text" name="con5" value="nbsahbkj">

      <label for="">Question11</label>
      <input type="text" name="ques11" value="sbvjzhbjkws">

      <label for="">Question12</label>
      <input type="text" name="ques12" value="sbvjzhbjkws">

      <label for="">Question13</label>
      <input type="text" name="ques13" value="sbvjzhbjkws">

      <label for="">Question14</label>
      <input type="text" name="ques14" value="sbvjzhbjkws">

      <label for="">Question15</label>
      <input type="text" name="ques15" value="sbvjzhbjkws">

      <button type="submit" name="submitSignup">Sign up</button>
    </form>
  </body>
</html>
