<!doctype html>
<html>
    <head>
        <style>
         body
         {
            background-color: black;
        }
        </style>
        <title>Find The Vaccine</title>
        <link rel="stylesheet" type="text/css" href="/css/test.css">

    </head>
    <body>
        <section id="banner">
         <div class="container">
         <div class="row">
         <div class="col-md-6 text-center">
         <p class="promo-title">FIND THE VACCINE</p>
         </div>

         </div>
         </div>
          <br>
        </section>
        <a href="/login">
            <span></span>
            Login
        </a>
        <a href="/about">
            <span></span>
            About
        </a>
        <a href="/instruction">
            <span></span>
            Instructions
        </a>
        <section id="banner">
          <img src="/images/heart.png" class="bottom-img">

        </section>
        <embed src="/998067eac462feeba55fc6e5103f0e9956c8b384.mp3" autostart="true" loop="true" width="2" height="0">
    </body>
</html>
